/* ---------- Polyfills ---------- */

body {
	font-size: 15px;
	color: #2f2f2f;
}

h1, .h1 {
	font-size: 63px;
}

section {
	width: 100%;
	overflow: auto;
}

a, a:hover, a:active, a:focus {
	color: #428bca;
}

.tooltip {
	position: inherit;
}

.pt-page-2 {
	padding-top: 25px;
}

/* ---------- Sticky Footer ---------- */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

.content {
	margin-top: 50px;
	/*padding-top: 10px;*/
	padding-bottom: 107px;
	/*padding-left: 15px;*/
	/*padding-right: 15px;*/
}

@media (min-width: 1200px) {
	#content {
		margin-top: 60px;
	}
}

footer {
	bottom: 0;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
}

/* ---------- Navbar ---------- */

.navbar img {
	height: 1em;
	margin-top: 5px;
	width: auto;
	float: left;
}

.navbar-toggle {
	float: left;
}

.navbar-collapse {
	border: none;
}

.navbar-nav {
	visibility: hidden;
	display: none;
}

@media (min-width: 768px) {
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 15px;
	}
}

@media (max-width: 206px) {
	.navbar-brand {
		font-size: 8vw;
	}
}

@media (max-width: 186px) {
	.navbar-brand {
		font-size: 6vw;
	}
}

/* ---------- About ---------- */

#about {
	background-color: #eee;
	background-image:
		linear-gradient(
	      rgba(0, 0, 0, 0.75), 
	      rgba(0, 0, 0, 0.75)
	    ),
	    url("http://upload.wikimedia.org/wikipedia/commons/3/34/Gunn_High_School_May_2011.jpg"); /* temp */
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: right;
	height: 95vh;
	min-height: 580px;
}

@media (max-height: 540px) and (max-width: 320px) {
	#about {
		height: 50vh;
		min-height: 480px;
	}
}

#about > #about-content {
	position: relative;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: white;
}

#about-content {
	font-size: 30px;
	/*position: relative;*/
	top: 50%;
	width: 80%;
	max-width: 650px;
	margin: 0 auto;
	text-align: center;
}

#about #about-content small {
	color: white !important;
}

@media (max-width:480px) {
	#about-content small {
		font-size: 8vw;
	}
}

@media (max-width: 425px) {
	.contact-form {
		font-size: 7vw;
	}
}

@media (max-width: 768px) {
	#title > h1 {
		font-size: 14vw;
	}
	.contact-form {
		font-size: 6vw;
	}
}

/*@media (max-width: 380px) {
	#title > h1 {
		font-size: 14vw;
	}
	.contact-form {
		font-size: 6vw;
	}
}*/

#about-title {
	margin: 0;
	padding: 0;
	font-size: 100px;
	text-align: center;
}

#title > h1 {
	margin-top: 0;
}

#about-img > img {
	max-height: 200px;
	width: auto;
}

#about-date {
	margin: 10px 0 25px;
	padding: 0;
	font-size: 50px;
	text-align: center;
}

.get-notified {
	display: block;
	width: 250px;
	height: 70px;
	margin: 0 auto;
	border: solid white 3px;
	color: inherit;
	text-decoration: inherit;
	outline: none;
	-webkit-transition: .5s all;
	transition: .5s all;
}

.get-notified p {
	font-size: 35px;
	margin: 0;
	margin-top: 15px;
	text-align: center;
}

.get-notified:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.section-title {
	color: rgb(80, 80, 80);
	font-size: 90px;
	text-align: center;
	margin: 0;
	padding: 0;
	margin-top: 50px;
	margin-bottom: 10px;
}

#description {
	margin: 0;
	padding: 20px;
	font-weight: 300;
}

/* ---------- Contact form ---------- */

.contact-form input[type="email"] ,.contact-form input[type="submit"] {
	display: inline-block;
	font-size: 0.6em;
	padding: 0.8em;
	outline: none;
	border: none;
	margin: 0px;
}

.contact-form input[type="email"] {
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 3px 0px 0px 3px;
	color: #5e6272;
	width: 72%;
}

.contact-form input[type="submit"] {
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	border: 1px solid rgba(255, 255, 255, 0.8);
	background-color: transparent;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
	color: white;
	width: 28%;
}

.button {
	-webkit-transition:all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	font-weight: normal;
	display: inline-block;
	border: 1px solid #ffffff;
	text-decoration:none;
	border-radius:3px;
	padding: 12px 0.75em;
	color: white;
}

.button:hover {
	border:1px solid #fd6e6e;
	background:#fd6e6e;
}

.button.nohover {
	border: 1px solid white;
	background: transparent;
}

.button+.button {
	margin-left: 12px;
}

.contact-form input[type="submit"] {
	cursor: not-allowed;
}

.valid input[type="submit"] {
	background-color: #2ecc71;
	cursor: pointer;
}

.contact-form #signup.sent input[type="email"] {
	width: 0%;
	padding: 0.8em 0;
	border: none;
}

.contact-form #signup.sent input[type="submit"] {
	border-radius: 3px;
	cursor: auto;
	width: 40%;
}

.email {
	cursor: auto;
}

/* ---------- FAQ ---------- */
#faq-content {
	padding-top: 20px;
}
.nav-tabs li a:focus,
.panel-heading a:focus {
    outline: none;
}

.panel {
	margin-bottom: 20px !important;
}

.panel-heading a,
.panel-heading a:hover,
.panel-heading a:focus {
    text-decoration: none;
    color: #15181d;
}

.faq-cat-content .panel-heading:hover {
    background-color: #efefef;
}

.panel-title {
	text-transform: uppercase;
	font-weight: 400;
	/*font-size: 12px;*/
	letter-spacing: 1px;
}

.panel-body {
	color: #787a7d;
	font-weight: 300;
}

.panel-faq .panel-heading .panel-title span {
    font-size: 13px;
    font-weight: normal;
}

.panel-group {
	margin-bottom: 0;
}

/* ---------- Sponsors ---------- */

.sponsor_logo {
	line-height: 0;
	padding: 20px 0px;
	text-align: center;
}

.sponsor_logo img {
	max-width: 500px;
	width: 50%;
	display: inline-block;
	margin: 30px 10px;
}

.hard-sponsor {
	border: 2px solid #FFB03B;
}

.tier1 a, .tier2 a, .tier3 a, .tier4 a, .tier5 a {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.tier1 a {
	max-width: 200px;
	width: 43%;
}

.tier2 a {
	max-width: 280px;
	width: 28%;
}

.tier3 a {
	max-width: 210px;
	width: 20%;
}

.tier4 a {
	max-width: 210px;
	width: 20%;
}

.tier5 a {
	max-width: 210px;
	width: 20%;
}

#sponsor-call-to-action {
	max-width: 750px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#sponsor-link {
	text-align: center;
}

/* ---------- Footer ---------- */

footer {
	height: 57px;
	margin-top: 25px;
	margin-bottom: 25px;
}

footer > div {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.copyright {
	margin-bottom: 0;
	padding-bottom: 10px;
/*	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);*/
	position: relative;
	top: 21px; /* temporary? */
}

.social {
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
}

.social li {
	display: inline;
	margin-left: 10px;
}

.social a {
	color: #404040;
	display: inline-block;
	padding: 0 .7em;
	height: 1.2em;
	width: 1.2em;
	background-size: 1.2em 1.2em;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: .8;
	vertical-align: text-top;
}

@media (max-width: 477px) {
	.copyright {
		font-size: 2vw;
	}
}

/* ---------- Registration Form ---------- */

.input-group-addon {
	padding-left: 0px;
	padding-right: 0px;
}

.input-group .form-control-wrapper {
	margin-left: 0px;
}

form small, label[for="inputText"], label.question {
	font-weight: normal;
}

.togglebutton label input[type=checkbox]:first-child:checked + .toggle {
	background-color: rgba(244, 67, 54, 0.5);
}
.togglebutton label input[type=checkbox]:first-child:checked ~ .toggle:active:after {
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(244, 67, 54, 0.1);
}
.togglebutton label input[type=checkbox]:first-child:checked + .toggle:after {
	background-color: #f44336;
}

.form-control-wrapper .form-control:focus ~ .material-input:after,
.form-control-wrapper .form-control.focus ~ .material-input:after,
.form-control-wrapper .material-input:before,
.form-group .material-input:before,
.form-group input.form-control:focus ~ .material-input:after {
	background-color: #f44336 !important; /* default #009587 */
}

.form-group input.form-control:not(.empty) ~ .floating-label {
	color: #555;
}

.input-group input:focus {
	border-bottom-style: none !important;
}

@media (min-width: 768px) {
	.col-sm-3-3 {
		width: 27.77777778%;
		padding-left: 20px;
		padding-right: 20px;
	}	
}
